#all {
  position: relative;
  background: url("../assets/img/main.jpg") no-repeat fixed;
  background-size: cover;
  background-position: top;
  padding-bottom: 20px;
  opacity: 0.9;
}

#main-footer {
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  color: black;
  padding-top: 60px;
}

#main-container {
  min-height: 90vh;
  max-width: 95vh;
}

#tab-button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  border: 0;
  width: 90px;
  padding-bottom: 2px;
  color: white;
}

#tab-button:hover {
  background-color: lightblue;
  transition: 0.5s;
}

#tab-row {
  border-bottom: medium solid lightblue;
  padding-left: 20px;
}

#tab-search {
  margin: 5px 70px;
}

#change-navbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  justify-content: space-around;
}

#nav-container {
  width: 900px;
}

// Card List____________________________________________________
.card-img-top {
  width: 100%;
  height: 13.5rem;
  object-fit: cover;
}

.card-container {
  margin: 0;
  padding: 0;
  width: 50vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 10px;
  justify-content: center;
}

.card-contents-A {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: normal;
  line-height: 1.2;
  max-height: 6em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card-contents-B {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: normal;
  line-height: 1.2;
  max-height: 3.6em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

// CKEditor5 Setting____________________________________________________
.ck {
  .ck-editor {
    min-width: 100%;
  }
}

.ck-editor__editable {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100rem;
}

.ck-editor__editable_inline {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100%;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

textarea {
  resize: none;
}

.my_category {
  display: inline-block;
  width: auto;
  &:last-child {
    margin-bottom: 0.25rem;
  }
}

// Media______________________________________________________

@media (min-width: 1024px) {
  #nav-container {
    width: 800px;
  }
}

@media (min-width: 1440px) {
  #nav-container {
    width: 850px;
  }
}
